### Example user template

# IntelliJ project files
/.mvn/
target/
.idea/*
*.iml
*.gradle
*.bat
gradle*
/application.properties
/.idea/
/target/
src/main/resources/
!/src/main/resources/application.properties.example
